:root {
    --azul: #0CC5FF;
    --azulpol: #00E0FF;
    --blanco: #FFFFFF;
    --blanco-fondo: #FBFBFB;
    --negro: #000000;
    --gris: #626262;
    --morado: #9747FF;
    --naranja: #FFAA47;
    --purpfoot: #6F4BFF;
    --opaco: #BEAEFF;


    --fuente-titulos: 'Montserrat', sans-serif;
    --fuente-texto: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {
    box-sizing: border-box; 
}

*, *:before, *:after {
    box-sizing: inherit;
}


/*Barra con información e iconos */
.informacion {
    background-color: var(--azul);
    padding-left: 15.217391304347828VW;
    padding-top: 14.251207729468598VW;
    padding-bottom: 24.637681159420293VW;
}

.informacion__imagen {
    width: 28.985507246376812VW;
    height: 28.985507246376812VW;
    margin-bottom: 3.140096618357488VW;
}

.informacion__texto {
    color: var(--blanco);
}

.informacion__titulo {
    font-family: var(--fuente-titulos);
    font-size: 6.038647342995169VW;
    font-weight: 700;
}

.informacion__titulo--uno {
    width: 48.792270531400966VW;
}

.informacion__titulo--dos, 
.informacion__titulo--tres {
    width: 57.48792270531401VW;
}


.informacion__parrafo {
    font-size: 5.314009661835748VW;
    font-weight: 500;
    font-family: var(--fuente-texto);
    margin-top: 2.657004830917874VW;
}

.informacion__parrafo--uno {
    width: 51.690821256038646VW;
}

.informacion__parrafo--dos {
    width: 66.42512077294685VW;
}

.informacion__parrafo--tres {
    width: 69.32367149758454VW;
}

.informacion__parrafo--uno, 
.informacion__parrafo--dos {
    padding-bottom: 15.458937198067632VW;
}

/* MQ Sección barra con información e iconos */

@media (min-width: 769px) {
    .informacion {
        background-color: var(--naranja);
        display:flex;
        padding: 3.958333333333333VW 16.5625VW 3.802083333333333VW 16.5625VW;
    }

    .informacion__imagen {
        width: 5VW;
        height: 5VW;
        margin: 0 1.5104166666666667VW 0 0;
    }

    .informacion__titulo {
        width: 10.520833333333334VW;
        font-size: 1.0416666666666665VW;
        line-height: 1.25VW;
        margin: 0;
        padding: 0 0 0.5729166666666666VW 0;
    }

    .informacion__parrafo {
        width: 12.395833333333334VW;
        font-size: 0.8333333333333334VW;
        margin: 0;
    }

    .informacion__parrafo--uno, 
    .informacion__parrafo--dos {
        padding-bottom: 0;
        margin-right: 7.447916666666667VW;
    }

}

/* Seccion Founder and CEO */
.fondo {
    background-color: var(--blanco-fondo);
}

.fondo__titulos {
    margin-left: 13.768115942028986VW;
}

.fondo__puesto {
    width: 38.405797101449274VW;
    color: var(--morado);
    font-family: var(--fuente-texto);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.3478260869565215VW;
}

.fondo__nombre {
    width: 71.25603864734299VW;
    font-family: var(--fuente-titulos);
    font-weight: 700;
    font-size: 8.454106280193237VW; 
    margin-top: 4.5893719806763285VW; 
}

.fondo__titulos--pc {
    display: none;
}

.espacio__imagen {
    width: 65.94202898550725VW;
    height: 72.94685990338165VW;
    margin-top: 4.5893719806763285VW;
    margin-left: 15.458937198067632VW;
    padding-bottom: 10.144927536231885VW;
    margin-right: 18.59903381642512VW;
}

.parrafos {
    font-family: var(--fuente-texto);
    color: var(--gris);
}

.parrafos__uno {
    margin-left: 14.734299516908212VW;
    padding-right: 14.009661835748794VW;
    font-size: 5.314009661835748VW;
    line-height: 7.246376811594203VW;
}

.parrafos__dos {
    margin-left: 12.560386473429952VW;
    padding-right: 16.183574879227052VW;
    font-size: 5.314009661835748VW;
    line-height: 7.246376811594203VW;
}

.parrafos__tres {
    margin-left: 12.560386473429952VW;
    padding-right: 15.458937198067632VW;
    font-size: 6.038647342995169VW;
    line-height: 8.212560386473431VW;
}

.parrafos__uno,
.parrafos__dos,
.parrafos__tres {
    width: 71.25603864734299VW;
}

/* MQ sección founder and CEO */
@media (min-width: 769px) {
    .espacio {
        display: grid; 
        grid-template-areas: "izquierda derecha";
        grid-template-columns: 1fr 1fr;
    }

    .fondo__titulos {
        display: none;
    }

    .fondo__titulos--pc {
        display: block;
    }

    .espacio__imagen {
        grid-area: izquierda;
        content: url(../img/image_5.png);
        width: 28.020833333333332VW;
        height: 33.020833333333336VW;
        margin: 3.3854166666666665VW 4.21875VW 3.3854166666666665VW 18.90625VW;
        padding: 0;
    }

    .parrafos {
        grid-area: derecha;
    }

    .fondo__puesto {
        width: 8.28125VW;
        margin-top: 7.604166666666666VW;
        margin-bottom: 0;
        font-size: 0.9375VW;
        padding-bottom: 0.9895833333333333VW;
    }

    .fondo__nombre {
        padding-bottom: 1.6666666666666667VW;
        width: 25.937500000000004VW;
        font-size: 1.8229166666666667VW;
        margin: 0;
        
    }

    .parrafos__uno {
        line-height: 1.1458333333333333VW;
    }
    
    .parrafos__dos {
        line-height: 1.1458333333333333VW;
    }
    
    .parrafos__tres {
        font-size: 0.9375VW;
        line-height: 1.25VW;
    }

    .parrafos__uno, 
    .parrafos__dos {
        padding-bottom: 2.083333333333333VW;
        font-size: 0.8333333333333334VW;
    }
    
    .parrafos__uno,
    .parrafos__dos,
    .parrafos__tres {
        width: 26.406249999999996VW;
        margin-left: 3.5416666666666665VW;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding-right: 0;
    }
}

/* Sección footer */

.footer {
    background-color: var(--purpfoot);
    color: var(--blanco);
}

.datos {
    margin-left: 10.144927536231885VW;
    padding-top: 16.908212560386474VW;
}
